<!DOCTYPE html>
<html class="no-js demo-4" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Educação Sexual - <%=historia.nomeQuadrinho %></title>
    <meta content="Educação Sexual em Quadrinhos" name="description"/>
    <meta content="javascript, jquery, plugin, css3, flip, page, 3d, book, perspective" name="keywords"/>
    <meta content="Guilherme" name="author"/>
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="js/libs/slide/default.css" rel="stylesheet" type="text/css"/>
    <link href="js/libs/slide/bookblock.css" rel="stylesheet" type="text/css"/>
    <!-- custom demo style -->
    <link href="js/libs/slide/demo4.css" rel="stylesheet" type="text/css"/>
    <script src="js/libs/slide/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="bb-custom-wrapper" style="margin-bottom:10px;">
  <h1 class="text-center" style="background: white;margin-bottom: 0px;margin-top: 0px;padding-top: 20px;"><%=historia.nomeQuadrinho %></h1>
        <div class="bb-bookblock" id="bb-bookblock" style="background: black;">

          <% for(var i=0; i<historia.quadros.length; i++) {%>
            <div class="bb-item">
              <div class="bb-custom-side">
                <span class="texto"><p><%=(i + 1) %> - <%=historia.quadros[i].nomeQuadrinho %></p></span>
                <div class="clearfix"></div>
                <img src="<%=historia.quadros[i].imgThumb %>" class="img-responsive" style="display:block; width:95%; margin-top: -20%;" >
              </div>
            <% if((historia.quadros.length-1) >= (i+1)) {%>
              <div class="bb-custom-side">
                <span class="texto"><p><%=(++i + 1) %> - <%=historia.quadros[i].nomeQuadrinho %></p></span>
                  <img src="<%=historia.quadros[i].imgThumb %>" class="img-responsive" style="display:block; width:95%; margin-top: -20%;" >
                </div>
              </div>
            <% } else { %>
              <div class="bb-custom-side">
                <span class="texto" style="visibility: hidden;"><p><%=(i + 1) %> - <%=historia.quadros[i].nomeQuadrinho %></p></span>
                  <img src="<%=historia.quadros[i].imgThumb %>" class="img-responsive" style="visibility: hidden;display:block; width:95%; margin-top: -20%;" >
                </div>
              </div>

            <% } %>
          <% } %>

				</div>

				<nav>
					<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">Primeira Pág.</a>
					<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Pág. Anterior</a>
					<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Próx. Pág.</a>
					<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Ultima Pág.</a>
				</nav>

			</div>

		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/libs/slide/jquerypp.custom.js"></script>
		<script src="js/libs/slide/jquery.bookblock.js"></script>
		<script>
			var Page = (function() {

				var config = {
						$bookBlock : $( '#bb-bookblock' ),
						$navNext : $( '#bb-nav-next' ),
						$navPrev : $( '#bb-nav-prev' ),
						$navFirst : $( '#bb-nav-first' ),
						$navLast : $( '#bb-nav-last' )
					},
					init = function() {
						config.$bookBlock.bookblock( {
							speed : 500,
							shadowSides : 0.1,
							shadowFlip : 0.5
						} );
						initEvents();
					},
					initEvents = function() {

						var $slides = config.$bookBlock.children();

						// add navigation events
						config.$navNext.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'next' );
							return false;
						} );

						config.$navPrev.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'prev' );
							return false;
						} );

						config.$navFirst.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'first' );
							return false;
						} );

						config.$navLast.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'last' );
							return false;
						} );

						// add swipe events
						$slides.on( {
							'swipeleft' : function( event ) {
								config.$bookBlock.bookblock( 'next' );
								return false;
							},
							'swiperight' : function( event ) {
								config.$bookBlock.bookblock( 'prev' );
								return false;
							}
						} );

						// add keyboard events
						$( document ).keydown( function(e) {
							var keyCode = e.keyCode || e.which,
								arrow = {
									left : 37,
									up : 38,
									right : 39,
									down : 40
								};

							switch (keyCode) {
								case arrow.left:
									config.$bookBlock.bookblock( 'prev' );
									break;
								case arrow.right:
									config.$bookBlock.bookblock( 'next' );
									break;
							}
						} );
					};

					return { init : init };

			})();
		</script>
		<script>
				Page.init();
		</script>
	</body>
</html>
